.page {
    display: flex;
    flex-direction: column;
}


.noNotesText {
    font-size: 3.6rem;
    align-self: center;
    margin: 24px 0 24px 0;
}

.noteGrid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
